@import url('https://fonts.googleapis.com/css2?family=Khand:wght@300&family=Lato:wght@300&family=Monda&family=Philosopher&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
font-family: 'Khand', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Monda', sans-serif;
font-family: 'Philosopher', sans-serif;
*/
body{
    background: #000;
    background: url(background-home-desktop.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
header{
    display: flex;
    padding: 1.8em 0 0 1.8em;
    justify-content: space-between;
}
header .line-container{
    display:grid;
    place-items: center;
}
header .line{
    z-index: 10;
    position: fixed;
    left: 10pc;
    height: 1px;
    width: 29em;
    background-color: rgba(255, 255, 255, 0.1);
    align-items: center;
    justify-content: center;
}
header .nav button{
    border: none;
    background: transparent;
    cursor: pointer;
}
header .open{
    display: none;
}
header .nav{
    padding: 0 7em 0 5em;
    display: flex;
    font-size: .9em;
    align-items: center;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    text-align: right;
    border-radius: 5px 0 0 5px;
}
.inside {
    margin: 20px;
    display: inline-block;
    justify-content: baseline;
}
.sidenav {
    display: none;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 6em;
  }
  
  .sidenav a {
    font-family: 'Monda', sans-serif;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    background-color: #f1f1f134;
    border-left: 5px solid;
  }
  
  .sidenav .closebtn {
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    top: 45px;
    right: 25px;
    font-size: 36px;
    padding: 10px;
    border-radius: 50%;
  }
  .sidenav .closebtn:hover{
      background-color: rgb(165, 165, 165);
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
header .nav a{
    font-family: 'monda', sans-serif;
    padding: 30px 0;
    margin: 0 1.2em;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 1em;
}
header .nav a:hover{
    border-bottom: 4px solid;
}
header .logo{
    height: 85px;
    display: flex;
    align-items: center;
}
.body{
    display: flex;
    justify-content: space-around;
    height: 70vh;
}
.body .left-content{
    width: 40vh;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    text-align: left;
    color: white;
}
.body .left-content .first-pa, .second-pa{
    text-transform: uppercase;
}
.body .left-content .first-pa{
    font-family:'Courier New', Courier, monospace;
    margin-bottom: 15px;
    word-spacing: 2px;
    transform: scaleY(1.5);
    letter-spacing: 2px;
}
.body .left-content .second-pa{
    font-size: 7em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 5px;
    margin-bottom: 20px;
}
.body .left-content .third-pa{
    font-family: 'monda';
    font-size: 1.2em;
    color: #ffffffab;
    word-spacing: 2px;
    width: 50vh;
}
.body .right-content{
    display: flex;
    align-items: end;
}
.body .right-content button{
    border-radius: 50%;
    cursor: pointer;
    font-family: 'monda', serif;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    color: black;
    border: none;
    width: 200px;
    height: 200px;
    background-color: white;
    transition: .5s ease-out;
}
.body .right-content button:hover{
    box-shadow: 0px 0px 0px 50px rgba(255, 255, 255, 0.405);
}
@media screen and (max-width: 900px) {
    .line{
        display: none;
    }
    header .nav {
        padding: 0;
    } 
    .body{
        display: grid;
        padding: 20vh;
    }
    .body .left-content{
        width: 100%;
        text-align: center;
        padding-bottom: 60px;
    }
    .body .right-content{
        justify-content: center;
    }
    .body .left-content .third-pa{
        width: auto;
    }
}
@media screen and (max-width: 650px) {
    header .nav a{
        display: none;
    }
    header .nav{
        background: rgba(255, 255, 255, 0.123);
        backdrop-filter: blur(20px);
    }
    header .open{
        display: block;
        padding: 0 1em;
    }
    .sidenav{
        display: block;
    }
}
